@import "./vuetify.min.css";
@import "~@mdi/font/css/materialdesignicons.min.css";
@import "./mobile.scss";

.box-shadow-lg {
    -webkit-box-shadow: rgba(195, 195, 195, 0.55) 5px 5px 10px 0px;
    -moz-box-shadow: rgba(195, 195, 195, 0.55) 5px 5px 10px 0px;
    box-shadow: rgba(195, 195, 195, 0.55) 5px 5px 10px 0px;
}
.box-shadow {
    box-shadow: rgba(195, 195, 195, 0.33) 0px 2px 10px 0px;
    -moz-box-shadow: rgba(195, 195, 195, 0.33) 0px 2px 10px 0px;
    -webkit-box-shadow: rgba(195, 195, 195, 0.33) 0px 2px 10px 0px;
}
.gradient-btn-green {
    background: #348f50;
    background: -webkit-linear-gradient(to right, #56b4d3, #348f50);
    background: linear-gradient(to right, #56b4d3, #348f50);
}
.boxed-layout {
    width: 75%;
    margin: 0 auto;
}
.green-color {
    color: #00bfa6;
}
.empty-space {
    height: 100px;
}
.sticky {
    position: fixed;
    top: 0;
}
a {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
* {
    scrollbar-width: none;
    font-family: "Roboto", sans-serif;
}
.relative {
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #efefef !important;
}
.pagination-links {
    text-align: center;
    ul {
        padding: 0px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    li {
        display: inline;
        border: 1px solid #efefef;
        border-radius: 5px;
        padding: 6px 14px;
        background: #fff;
        transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        a {
            color: #333;
        }
        &.active {
            background: #2b7fd5;
            border: 1px solid #2b7fd5;
            color: #fff;
        }
    }
}

// Loader
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        border: 4px solid #008080;

        animation: loader 3s infinite ease;
        .loader-inner {
            vertical-align: top;
            display: inline-block;
            width: 100%;
            background-color: teal;
            animation: loader-inner 3s infinite ease-in;
        }
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

// Navbar
.main-navbar {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
    background: #fff !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navigation-drawer {
    min-height: 100vh;
}
.search-input-desktop {
    border: 1px solid #acacac;
    border-radius: 4px;
    padding: 5px 12px;
    &:focus {
        outline: none;
        border: 1px solid #777;
    }
}
h6.divider {
    margin-top: 1rem;
    position: relative;
    z-index: 1;
    color: #aaa;
    &::before {
        border-top: 1px solid #efefef;
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        width: 85%;
        z-index: -1;
    }
}
.auth-dropdown-menu {
    margin-top: 12px;
    border: 1px solid;
    padding: 0px;
}
p.background-line {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 20px 0 30px 0;

    &::before {
        border-top: 2px solid #dfdfdf;
        content: "";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 95%;
        z-index: -1;
    }
    span {
        background: #fff;
        padding: 0 15px;
    }
}

// left-sidebar
.left-sidebar {
    // background: #fff;
    padding: 0px;
    min-height: 86vh;
    .sidebar-links {
        .sidebar-link-box {
            background: #fff;
        }
        h6 {
            margin-top: 1rem;
            position: relative;
            z-index: 1;
            margin-left: 2rem;
            color: #aaa;
            &::before {
                border-top: 1px solid #efefef;
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                bottom: 0;
                width: 85%;
                z-index: -1;
            }
        }
    }
    .notification {
        background: rgb(13, 126, 126);
        color: #fff;
        font-weight: bold;
        border-radius: 100%;
        padding: 1px 5px;
        position: absolute;
        top: 0;
        left: 40px;
    }
}
// Right Sidebar
.right-sidebar {
    // background: #e8edf1;
    min-height: 95vh;
    overflow-y: scroll;
}

// Add New Post Links
.post-type-tabs {
    // display: flex;
    background: #fff;
    margin-bottom: 12px;

    .tab-icons {
        text-align: center;
    }
    label {
        cursor: pointer;
    }
}
.post-btn {
    background: grey;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
}
.single-tabs {
    background: #fff;
    padding: 1.2rem;
    cursor: pointer;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}
.main-container {
    min-height: 95vh;
    padding-top: 3em;
    // max-height: 95vh;
    // overflow: scroll;

    .center-post-container {
        // max-height: 95vh;
        // overflow-y: scroll;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
#select-community {
    width: 100%;
    background: #fff;
    border: 1px solid #dcdcdc;
    padding: 12px;
    margin-bottom: 1em;
}

// Add new Post Page
.new-post-page {
    position: relative;
    .bg-img {
        img {
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: 0;
            max-width: 50vw;
        }
    }
}

// Home Page All Post
video {
    width: 100%;
}
.center-post-area {
    .gallery {
        display: grid;
        max-height: 16vw;
        max-width: 100rem;
        overflow: hidden;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 6px;
        transition: grid-gap 1s ease-in-out;
    }
    .gallery-panel {
        width: 100%;
        height: 16vw;
        object-fit: cover;
        object-position: center top;
    }
    .auth-name {
        color: #333;
    }
    .community-name {
        color: #333;
    }
    .posted-text {
        color: #838181;
        font-weight: 200;
    }
    .post-body {
        font-size: 15px;
        line-height: 21px;
        color: #444;
        padding: 0 12px 12px 15px;
        a {
            color: #444;
        }
    }
}
.public-user-hover-detail {
    display: flex;
    .a-link {
        width: 50%;
        text-align: center;
        border: 1px solid #efefef;
        padding: 8px;
        a {
            color: #333;
        }
    }
}
.event-list-home-page {
    .updates-details-home-page {
        a {
            color: #fff;
        }
    }
}

// Post in Single Community Page
.single-community-post {
    border: 1px solid #efefef;
    margin-bottom: 1rem;
    a {
        p {
            color: #555;
        }
    }
    .gallery {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 4px;
        max-width: 100rem;
        padding: 5px;
        max-height: 13vw;
        overflow: hidden;
    }
    .gallery-panel {
        padding: 0.2rem;
        img {
            width: 100%;
            height: 12vw;
            object-fit: cover;
            object-position: center top;
        }
    }
}
// single-post
.single-post {
    .gallery {
        display: grid;
        max-width: 100rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 6px;
        transition: grid-gap 1s ease-in-out;
    }
    .gallery-panel {
        width: 100%;
        height: 16vw;
        object-fit: cover;
        object-position: center top;
        border-radius: 10px;
        transition: 1s;
        &:hover {
            transform: scale(1.02);
        }
    }
}

// Commenting System
.comment-nav {
    -webkit-box-shadow: 0 6px 6px -6px #ececec;
    -moz-box-shadow: 0 6px 6px -6px #ececec;
    box-shadow: 0 6px 6px -6px #ececec;
}

// Register Page
.register {
    max-height: 100vh;
    overflow: hidden;
    .left-logo-box {
        max-height: 100vh;
        overflow: hidden;
    }
    .right-form-box {
        max-height: 100vh;
        overflow-y: scroll;
    }
    .register-input-form {
        background-color: rgba(255, 255, 255, 0.99);
        border-radius: 50px;
        padding: 2.5em;
        form {
            margin-top: 3em;
        }
        ul {
            padding-top: 0px;
            li {
                font-size: 13px;
                color: #777;
            }
        }
        p {
            font-size: 13px;
            color: #777;
        }
        .tag-text {
            font-size: 14px;
            color: #777;
            line-height: 20px;
        }
        .field {
            margin-bottom: 2em;
        }
        select {
            width: 100%;
            &:after {
                content: "&#9662;";
                color: #333;
            }
        }
    }
    .forgot-password {
        margin-top: 2em;
        a {
            font-size: 14px;
            color: #888;
            text-decoration: none;
            &:hover {
                color: #555;
                text-decoration: underline;
            }
        }
    }
}
// Login Page
.login {
    min-height: 100vh;

    p {
        font-size: 15px;
        color: #777;
    }
    form {
        margin-top: 3em;
    }
    .forgot-password {
        text-align: center;
        margin-top: 1em;
        p {
            margin-bottom: 6px;
            font-size: 13px;
            a {
                color: #666;
                font-weight: bold;
            }
        }
    }
    // .login-input-form {
    //     -webkit-box-shadow: rgba(195, 195, 195, 0.55) 0px -5px 10px -5px;
    //     -moz-box-shadow: rgba(195, 195, 195, 0.55) 0px -5px 10px -5px;
    //     box-shadow: rgba(195, 195, 195, 0.55) 0px -5px 10px -5px;
    // }
    .social-login-btn {
        margin-top: 2em;
    }
}
.login-dialog {
    background: #fff;
    .social-logins {
        -webkit-box-shadow: rgba(195, 195, 195, 0.55) 0px 5px 10px -5px;
        -moz-box-shadow: rgba(195, 195, 195, 0.55) 0px 5px 10px -5px;
        box-shadow: rgba(195, 195, 195, 0.55) 0px 5px 10px -5px;
        a {
            color: #3f3e3e;
        }
        .social-link-btn {
            border: 1px solid #adabab;
            margin-bottom: 1.5em;
            border-radius: 7px;
            padding: 5px 12px;
            &:hover {
                border: 1px solid #424242;
            }
        }
    }
}

// Public profile
.blur-bg {
    -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
    filter: blur(4px);
    position: relative;
    margin-bottom: 5em;
}

// Edit User Profile
.user-profile-detail {
    label.save-btn {
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 6px 0;
    }
}

// User My Post Page
.my-saved-post-container {
    max-height: 95vh;
    overflow-y: scroll;
}

// Community
.single-community {
    padding: 0px;
}

// podcast-main-page
.new-podcast-page {
    position: relative;
    min-height: 95vh;
}
// single Podcast desktop page
.audio-player-single-desktop {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    .audiojs {
    }
}

/*
    ====================
      All Pages Styling
    ====================
*/
// privacy-policy
.privacy-policy {
    padding-top: 2em;
    padding-bottom: 2em;
    p {
        font-size: 15px;
        line-height: 25px;
        color: #444;
    }
}
.contact-us {
    padding-top: 2em;
    .input-control {
        width: 100%;
        margin-bottom: 2.2em;
        input {
            height: 48px;
            border: 1px solid #9a9a9a;
            padding: 15px 8px;
            width: 100%;
            border-radius: 4px;
            &:focus {
                border-color: teal;
                outline: teal;
            }
        }
        textarea {
            padding: 15px 8px;
            border: 1px solid #9a9a9a;
            width: 100%;
            border-radius: 4px;
            &:focus {
                border-color: teal;
                outline: teal;
            }
        }
    }
    .success-msg {
        position: absolute;
        top: 50px;
        right: 0;
    }
}
// verify-email
.verify-email {
    min-height: 94vh;
    position: relative;

    .bg-color-teal {
        background-color: teal;
        height: 50vh;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .verify-card {
        padding: 3% 6%;
        z-index: 1;
        h2 {
            color: #fff;
            margin-top: 2.5em;
        }
        p {
            color: #dcdcdc;
        }
        .resend {
            margin-top: 2em;
        }
    }
}

// Single Event Page
.single-event-page {
    min-height: 95vh;

    .single-event {
        padding: 0px;
    }
}
// My Events Page
.my-events-page {
    min-height: 96vh;
    .add-new-event {
        max-height: 90vh;
        overflow-y: scroll;
    }
}

// Updates and Policy
.all-updates-page {
    min-height: 95vh;
}
.single-update-page {
    min-height: 95vh;
    .update-image {
        border-radius: 1em;
    }
}

// 404 Not Found
.not-found-page {
    min-height: 95vh;

    .top-column {
        padding-top: 3em;
        padding-bottom: 2em;
    }
}
