@media (min-width: 1025px) {
    .mobile-nav {
        display: none;
    }
    .updates-page-footer {
        display: none;
    }
    .mobile-container {
        display: none;
    }
    .login {
        background-image: linear-gradient(
                to bottom,
                rgba(245, 246, 252, 0.3),
                rgba(0, 0, 0, 0.8)
            ),
            url("images/login-bg.jpg");
        background-size: cover;
    }
    .register {
        background-image: linear-gradient(
                to bottom,
                rgba(245, 246, 252, 0.3),
                rgba(0, 0, 0, 0.5)
            ),
            url("https://source.unsplash.com/1600x900/?agriculture");
        background-size: cover;
    }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .mobile-nav {
        display: none;
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .mobile-nav {
        display: none;
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .event-list-home-page {
        display: none;
    }
    .boxed-layout {
        width: 100%;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .main-container {
        display: none;
    }
    .mobile-container {
        min-height: 95vh;
    }
    // Navbar
    .main-navbar {
        display: none;
    }
    .mobile-nav {
        -webkit-box-shadow: 0 6px 6px -6px #ececec;
        -moz-box-shadow: 0 6px 6px -6px #ececec;
        box-shadow: 0 6px 6px -6px #ececec;
        img {
            max-height: 42px;
        }
    }

    // update page
    .updates-page-footer {
        padding-bottom: 2.5em;
        display: block;
    }

    // Home Post
    .app-post-mobile-page {
        padding: 1em 0.5em 3em 0.5em;
        .single-mobile-post {
            margin-bottom: 1em;
            border-radius: 1.5em;
            .image-box-mobile {
                max-height: 200px;
                overflow: hidden;
                // border-radius: 0.5em;
            }
            .post-body {
                a {
                    color: #444;
                    font-size: 14px;
                }
            }
        }
    }

    // Single Podcast
    .single-podcast-mobile-page {
        .circle-avatar {
            border: 4px solid #fff;
        }
        .audio-player-single {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    #audio-player-mobile {
        width: 100%;
    }

    // Single Post Page Mobile
    .single-post-mobile-page {
        padding-bottom: 5rem;
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-gap: 3px;
            transition: grid-gap 1s ease-in-out;
            padding: 0.5em;
        }
        .gallery-panel {
            width: 100%;
            object-fit: cover;
            object-position: center top;
            border-radius: 8px;
        }
        .save-button-mobile-single {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .app-bar-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-box-shadow: 0 -6px 6px -6px #ececec;
        -moz-box-shadow: 0 -6px 6px -6px #ececec;
        box-shadow: 0 -6px 6px -6px #ececec;
    }

    // Login
    .login {
        background-image: none;
        background: none;
    }

    // Edit Account
    .edit-account {
        .user-image {
            .image-upload-btn {
                text-align: center;
                background: rgba(0, 0, 0, 0.5);
                color: #fff;
                cursor: pointer;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 6px 0;
            }
        }
    }

    // pagination
    ul.pagination {
        margin-top: 0px;
        li.page-item {
            display: none;

            &:first-child,
            &:last-child {
                display: inline-flex;
                width: 49%;
                padding-left: 25%;
                box-shadow: none;
            }
            &.disabled {
                border: 1px solid #efefef;
                background: #efefef;
                cursor: not-allowed;
                color: #cdcdcd;
            }
        }
    }
}

// Comment System
.add-new-comment {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #efefef;
    textarea {
        margin-top: 10px;
        &:focus {
            outline: none !important;
            border: none;
        }
    }
}
.comment-date {
    margin-left: 6em;
}
.comment-body {
    margin-bottom: 0px !important;
    font-size: 0.9rem;
    padding-right: 0.5rem;
}
.empty-space {
    height: 100px;
}
