<div
    class="main-navbar primary-navbar"
    role="navigation"
    aria-label="main navigation"
>
    <div class="navbar-links">
        <a href="/" class="navbar-item nav-logo">
            <img
                src="{{asset('images/logoBox.png')}}"
                alt="Agrishi"
                height="32"
            />
        </a>
        <div class="navbar-item only-desktop">
            <div class="field">
                <form action="{{route('search-desktop')}}" method="get">
                    <input
                        type="text"
                        placeholder="search..."
                        class="input"
                        aria-label="Search"
                        name="search"
                    />
                    <v-btn icon type="submit"
                        ><img src="{{asset('images/search.svg')}}"
                    /></v-btn>
                </form>
            </div>
        </div>
        <div class="navbar-links text-links only-desktop">
            <a href="#" class="navbar-item">Home</a>
            <a href="#" class="navbar-item">Updates</a>
            <a href="#" class="navbar-item">Saved Post</a>
            <a href="#" class="navbar-item">Podcast</a>
            <a href="#" class="navbar-item">Contact</a>
        </div>
        @guest
        <div class="navbar-item only-desktop">
            <v-btn text href="/register" class="text-capitalize"
                >Join Now</v-btn
            >
            <v-btn outlined href="/login" color="teal" class="text-capitalize"
                >SingIn</v-btn
            >
        </div>
        @else
        <div class="navbar-item">
            <a href="{{url('new/post')}}" class="button">
                <span class="btn-border">Add Post</span>
            </a>
            <a href="{{url('new/podcast')}}" class="button">
                <span class="btn-border">Add Podcast</span>
            </a>
            <div class="auth-user">
                <v-menu offset-y>
                    <template v-slot:activator="{ on }">
                        <div class="auth-avatar" v-on="on">
                            @if(Auth::user()->image)
                            <img
                                src="/storage/profile/{{Auth::user()->image}}"
                            />
                            @else
                            <span class="username"
                                >{{Str::limit(Auth::user()->name, 1, '')}}</span
                            >
                            @endif
                            <span>{{Auth::user()->name}}</span>
                        </div>
                    </template>
                    <v-list dense nav width="200">
                        <v-list-item href="/">
                            <v-list-item-title> Timeline</v-list-item-title>
                        </v-list-item>
                        <v-list-item
                            href="{{route('myaccount', $user->username)}}"
                        >
                            <v-list-item-title> My Account</v-list-item-title>
                        </v-list-item>
                        <v-list-item href="{{route('mypost')}}">
                            <v-list-item-title> My Post</v-list-item-title>
                        </v-list-item>
                        <v-list-item href="{{route('myEvents')}}">
                            <v-list-item-subtitle>
                                My Events</v-list-item-subtitle
                            >
                        </v-list-item>
                        <v-list-item href="{{route('inbox')}}">
                            <v-list-item-title> Message</v-list-item-title>
                        </v-list-item>
                        <v-list-item href="{{route('savedpost')}}">
                            <v-list-item-title>
                                Saved Post
                            </v-list-item-title>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item
                            href="{{ route('logout') }}"
                            onclick="event.preventDefault();
                                document.getElementById('logout-form').submit();"
                        >
                            <v-list-item-title>
                                Logout
                                <form
                                    id="logout-form"
                                    action="{{ route('logout') }}"
                                    method="POST"
                                    style="display: none;"
                                >
                                    @csrf
                                </form>
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
        </div>
        @endguest
        <a class="navbar-item only-mobile font-weight-black">
            <span>AG</span><span class="teal--text">RISHI</span>
        </a>
        <a href="" class="navbar-item only-mobile">
            <img src="{{asset('images/search.svg')}}" />
        </a>
    </div>
</div>
